<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Error Page</title>
  <meta name="description" content="Something went wrong">
  <meta name="author" content="SitStraight">

  <link rel="stylesheet" href="{% static "posture/css/style.css" %}">

</head>

<body>

  <!-- Error message -->
  <div class="flex-container-row">

    <div class="flex-item-img">
      <img src="{% static "posture/img/exclamationmark.png" %}" alt="computervision" class="size-large">
    </div>

    <div class="flex-item-txt-row">
      <h2> {{error_title}} </h2>
      <h3> {{error_message}} </h3>
    </div>

  </div>

  <!-- Back button -->
  <div class="flex-container-column">

    <div class="flex-item-button">
      <a class="btn" href="/captureBaseline">Go back</a>
    </div>

  </div>

</body>
</html>
