<!doctype html>

{% load staticfiles %}

<html lang="en">
<head>
  <title id="page_title">SitStraight Home Page</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{% static "posture/css/style.css" %}">

</head>
<body>

  <div class="flex-container-column">

    <div class="flex-txt-column">
      <h1> Instantly correct your posture through behavioural training </h1>
    </div>

    <div class="flex-txt-column">
      <a class="btn" href="/captureBaseline">Start</a>
    </div>

  </div>

  <hr>

  <div class="flex-container-row">

    <div class="flex-txt-row">
      <h1>Computer vision technology</h1>
      <h2>The position of your head in space is used to determine wether you are sitting upright or slouching. If you are slouching, you will get an  alert to correct your posture.</h2>
    </div>

    <div class="flex-img">
      <img src="{% static "posture/img/computervision.png" %}" alt="eye">
    </div>

  </div>

  <hr>

</body>
</html>
