<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title id="page_title" value="tracker">SitStraight Posture Tracker Page</title>

        <script src="{% static "posture/js/jquery-3.1.1.min.js" %}"></script>
        <script src="{% static "posture/js/jquery.form.js" %}"></script>
        <script src="webcamWorker.js"></script>

        <audio id="audio_alert" controls>
          <source src="{% static "posture/audio/alert.wav" %}" type="audio/wav">
        </audio>

        <script>
            // anchor to audio file
            var audio_alert = document.getElementById("audio_alert");
            // wait for the DOM to be loaded
            $(document).ready(function() {
                // bind 'myForm' and provide a simple callback function
                $('#form').ajaxForm(function(data) {
                    console.log(data)
                    if(data == "posture_fail"){
                      closePopupIfOpen('window_alert_user')
                      alertUser();
                    }
                });
            });
            var x = 0;
            function alertUser() {
              audio_alert.play();
              window_alert_user = window.open( "http://localhost:8000/alertUser", "window_alert_user", "height = 200, width = 200" );
            }

            function closePopupIfOpen(popupName){
              if(typeof(window[popupName]) != 'undefined' && !window[popupName].closed){
                window[popupName].close();
              }
            }
        </script>

    </head>

    <body>

        <video id="video">Video stream not available.</video>
        <canvas id="canvas" hidden></canvas>

        <input type="checkbox" id="checkbox" name="checkbox" value="checkbox">


        <form id ="form" action="/assertPosture" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="text" id="user_photo_url" name="user_photo_url" value="#" width="50">
            <input type="submit" id="button_assert_posture" value="Submit">
        </form>


    </body>

</html>
